/cs7641_machine_learning/support_materials/CS7641_ML_Assignment_Templates
/cs7641_machine_learning/support_materials/lecture_notes
/cs7641_machine_learning/support_materials/old syllabus
/cs7641_machine_learning/support_materials/readiness
/cs7641_machine_learning/support_materials/textbook
/cs7641_machine_learning/support_materials
*.nb
cs7641_machine_learning/lectures/week1/decision-trees/ID3 Algorithm for Decision Trees.pdf
cs7641_machine_learning/lectures/week6/assignment1/source/7641_Assignment_1.pdf
cs7641_machine_learning/lectures/week6/assignment1/SL1.pdf
cs7641_machine_learning/lectures/week9/assignment2/CS7641_ML_Assignment2_Template
cs7641_machine_learning/lectures/week2/regression_classification/978-3-031-38747-0_3.pdf
cs7641_machine_learning/reading_writing_quiz/Strategies for Academic Papers _ Supplemental Office Hours _ OMSCS 7641.mp4
cs7641_machine_learning/reading_writing_quiz/ten_simple_rules_reading_papers_carey.pdf
cs7641_machine_learning/reading_writing_quiz/ten_simple_rules_structuring_papers_kording_mensh.pdf
cs7641_machine_learning/lectures/week3/ensemble__learning/adaboost_matas.pdf
cs7641_machine_learning/lectures/week3/ensemble__learning/boosting.ps
cs7641_machine_learning/lectures/week3/ensemble__learning/Intro to Boosting.pdf
cs7641_machine_learning/lectures/week3/instance-based_learning/Taxicab_geometry.pdf
cs7641_machine_learning/lectures/week4/svm_kernelMethods/SVM-ICML01-tutorial.pdf
cs7641_machine_learning/lectures/week4/svm_kernelMethods/svm-scholkopf.ps
cs7641_machine_learning/lectures/week4/svm_kernelMethods/svmtutorial.pdf
cs7641_machine_learning/lectures/week4/svm_kernelMethods/yor12-introsvm.pdf
cs7641_machine_learning/lectures/week1/decision-trees/1_1__decision_trees.pdf
cs7641_machine_learning/lectures/week2/neural_networks/1_3__neural_networks.pdf
cs7641_machine_learning/lectures/week2/regression_classification/1_2__regression_and_classification.pdf
cs7641_machine_learning/lectures/week3/ensemble__learning/1_5__ensemble_b_and_b.pdf
cs7641_machine_learning/lectures/week3/instance-based_learning/1_4__instance_based_learning.pdf
cs7641_machine_learning/lectures/week4/svm_kernelMethods/1_6__kernel_methods_and_svms.pdf
cs7641_machine_learning/lectures/week5/computational_learning/1_7__comp_learning_theory.pdf
cs7641_machine_learning/lectures/week5/vc_dimensions/1_8__vc_dimensions.pdf
cs7641_machine_learning/lectures/week6/bayesian_inference/1_10__bayesian_inference.pdf
cs7641_machine_learning/lectures/week6/bayesian_learning/1_9__bayesian_learning.pdf
cs7641_machine_learning/lectures/week7/information_theory/2_5__information_theory.pdf
cs7641_machine_learning/lectures/week7/randomized_optimization/2_1__randomized_optimization.pdf
cs7641_machine_learning/lectures/week8/clustering/2_2__clustering.pdf
cs7641_machine_learning/lectures/week8/clustering/2_2__clustering.pdf
cs7641_machine_learning/lectures/week9/feature_selection/2_3__feature_selection.pdf
cs7641_machine_learning/lectures/week9/feature_transformation/2_4__feature_transformation.pdf
cs7641_machine_learning/lectures/week10/markov_decision_process/3_1__markov_decision_processes.pdf
cs7641_machine_learning/lectures/week11/reinforcement_learning/3_2__reinforcement_learning.pdf
cs7641_machine_learning/lectures/week12/game_theory/3_3__game_theory.pdf
cs7641_machine_learning/lectures/week12/game_theory/3_4__game_theory_continued.pdf
cs7641_machine_learning/lectures/week14/final/CS7641 ML Practice Final Exam.pdf
cs7641_machine_learning/lectures/week6/assignment1/CS7641 ML - A1 Template.zip
cs7641_machine_learning/lectures/week9/assignment2/submission/CS7641_ML_Assignment2_Template
cs7641_machine_learning/lectures/week12/assignment3/CS7641_ML_Assignment3_Template
cs7641_machine_learning/lectures/week13/assignment4/CS7641_ML_Assignment4_Template
cs7641_machine_learning/lectures/week6/assignment1/CS7641_ML_Assignment1_Template
cs7641_machine_learning/lectures/week3/ensemble__learning/explaining-adaboost.pdf
cs7641_machine_learning/lectures/week9/assignment2/source/7641_Assignment_2.pdf
cs7641_machine_learning/lectures/week9/assignment2/mlrose-master
cs7641_machine_learning/lectures/week7/information_theory/gentle_intro_to_information_theory.pdf
cs7641_machine_learning/lectures/week7/information_theory/InfoTheory.fm.pdf
cs7641_machine_learning/lectures/week7/randomized_optimization/isbell-mimic-nips-1997.pdf
cs7641_machine_learning/lectures/week7/randomized_optimization/nfl-optimization-explanation.pdf
cs7641_machine_learning/lectures/week9/assignment2/source/helper_repo.py
cs7641_machine_learning/lectures/week7/randomized_optimization/mimic-tutorial.pdf
cs7641_machine_learning/lectures/week7/randomized_optimization/SA Techniques.pdf
cs7641_machine_learning/lectures/week13/assignment4/7641_Assignment_4.pdf
cs7641_machine_learning/lectures/week12/assignment3/7641_Assignment_3.pdf
cs7641_machine_learning/lectures/week8/clustering/em.pdf
cs7641_machine_learning/lectures/week8/clustering/nips15.pdf
cs7641_machine_learning/lectures/week9/feature_selection/ICA_Hyvarinen.pdf.crdownload
cs7641_machine_learning/lectures/week9/feature_selection/isbell-ica-nips-1999.pdf
cs7641_machine_learning/lectures/week8/clustering/NN00new.pdf
