/cs7641_machine_learning/support_materials/CS7641_ML_Assignment_Templates
/cs7641_machine_learning/support_materials/lecture_notes
/cs7641_machine_learning/support_materials/old syllabus
/cs7641_machine_learning/support_materials/readiness
/cs7641_machine_learning/support_materials/textbook
/cs7641_machine_learning/support_materials
*pdf